    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap');

/* reset */
*{
    font-family: 'roboto', sans-serif;
    padding: 0;
    margin: 0;
}

h1{
    font-size: 2rem;
}

/* imagen de fondo  */
body{
    background-image: url(../assets/fondocupcake.png);
}

/* separacion entre la nav y el main */
.separacion{
    margin: 30px auto
}

/* alineacion central */
.TextoCentrado{
    text-align: center
}

/* alineacion derecha */
.TextoDerecha{
    text-align: right;
}

/* alineacion izquierda */
.TextoIzquierda{
    text-align: left;
}

/* decoracion de texto subrayado */
.TextoDecorado{
    text-decoration: underline magenta;
}

/* color en la navbar */
.bg-pink{
    background-color: rgba(253, 241, 241, 1);
}

.w-99{
    width: 99%;
}

/* seleccion del color en NAV, posicion,
y el cambio en lista */
/* nav{
    background-color: rgba(253, 241, 241, 1);
    padding: 1% 2.5%;
    position: relative;
    top: 0;
    left: 0;
    width: 95%;
}
    nav a{
        text-decoration: none;
    }
        nav ul{
            display: inline-block;
        }
            nav ul li{
                list-style: none;
                display: inline-block;
                margin: 0 4px;
            }
                nav ul li a{
                    color:#e57d90;
                    text-decoration: none;
                } */

/* cambio en el tama単o de las imagenes
del logo y del footer */
nav a img{
    width: 90px;
}

footer a img{
    width: 30px;
}

/* color en el fondo de los textos, decorativo */
.Nosotros{
    background-color: rgba(249, 154, 170, 0.4);
}

/* decoracion de los articulos */
.CentroArticulo{
    width: 75%;
    height: auto;
    margin: 30px auto;
    padding: 25px 15px;
    border: solid 2px hotpink;
}

/* tama単o de imagen hero en index */
.ImagenHero{
    width: 98%;
    height: 400px;
    padding: 5px;
    border: double 5px hotpink;
}

/* texto de la seccion de novedades, index */
.parrafoNovedades{
    width: 45%;
    height: auto;
    padding: 20px;
    font-size: 1.4rem;
    color: #ff69b4;
}

/* tama単o de las imagenes de la galeria */
.GaleriaIMG{
    width: 95%; 
    height: 250px;
    padding: 5px;
}

/* border 32% galeria */
.border{
    width: 32%;
    border: double 2px hotpink;
    margin: 10px;
}

/* parrafos de galeria complementaria a imagenes */
.parrafoGaleria{
    width: 95%;
    height: auto;
    padding: 15px;
    text-align: center;
    font-size: 1.2rem;
}

/* tama単o del mapa en contactanos */
section fieldset iframe{
    width: 98%;
    height: 300px;
}

/* contactanos */
fieldset label{
    display: block;
    margin: 15px;
}

/* configuracion de la imagen de las ofertas del mes, no pude centrarla :( */
.OfertasDelMes{
    width: 400px;
    border: double 2px hotpink;
    padding: 5px;
    margin: 5px;
}

/* configuracion de la tabla */
.tabla{
    width: 50%;
    height: auto;
    margin: 15px auto;
    padding: 10px;
    border: solid 2px hotpink;
}

table{
    width: 99%;
    height: 300px;
}