


/* decoracion de los articulos */
.centroArticulo{
    width: 75%;
    height: auto;
    margin: 30px auto;
    padding: 25px 15px;
    border: solid 2px hotpink;
}

/* tamaño de imagen hero en index */
.imagenHero{
    width: 100vw;
}


/* tamaño de las imagenes de la galeria */
.galeriaIMG{
    width: 95%; 
    height: 250px;
    padding: 5px;
}

/* border 32% galeria */
.border{
    width: 32%;
    border: double 2px hotpink;
    margin: 10px;
}



/* tamaño del mapa en contactanos */
section fieldset iframe{
    width: 99%;
    height: 300px;
}

/* contactanos */
fieldset label{
    display: block;
    margin: 15px;
}

/* configuracion de la imagen de las ofertas del mes, no pude centrarla :( */
.OfertasDelMes{
    width: 400px;
    border: double 2px hotpink;
    padding: 5px;
    margin: 5px;
}

/* configuracion de la tabla */
.tabla{
    width: 50%;
    height: auto;
    margin: 15px auto;
    padding: 10px;
    border: solid 2px hotpink;
}

table{
    width: 99%;
    height: 300px;
}